.header {
	background-color: var(--bg-surf);
	padding: var(--md) var(--lg);
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--md);
}

.logo {
	margin-right: auto;
}

@media (prefers-color-scheme: light) {
	.header {
		background-color: var(--l-bg-surf);
	}
}
