.slider {
	position: relative;
	height: calc(100vh - 80px); /* 80px alto del header*/
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(80%);
}

.title,
.rating {
	position: absolute;
}

.title {
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.rating {
	bottom: var(--sm);
	right: var(--lg);
	background-color: var(--pri);
	padding: var(--sm);
	border-radius: var(--md);
	line-height: 25px;
}

.rating,
.title {
	font-size: x-large;
	color: whitesmoke;
	font-weight: 700;
}

.back,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.back {
	transform: rotate(180deg);
}

.next {
	right: 0;
}
