.form {
	padding-top: var(--lg);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--md);
}

.text {
	width: calc(158px + 158px + var(--md));
}

.form select {
	width: 158px;
}

.form button {
	width: 158px;
}
