.header {
	position: relative;
}

.cover {
	width: 100%;
	height: calc(50vh - 80px); /* 80px altura del header*/
	object-fit: cover;
}

.title,
.stats {
	position: absolute;
}

.title {
	top: var(--md);
	left: var(--md);
	background-color: var(--bg-surf);
	border-radius: var(--md);
	padding: 0 var(--md);
	font-size: large;
}

@media (prefers-color-scheme: light) {
	.title {
		background-color: var(--l-bg-surf);
	}
}

.stats {
	bottom: var(--md);
	right: var(--md);
	display: flex;
	align-items: center;
	gap: var(--sm);
	background-color: var(--l-bg-surf);
	padding-right: var(--sm);
	color: var(--l-t-sec);
	border-radius: var(--sm);
}

.rating {
	color: var(--hl);
	background-color: var(--bg-surf);
	padding: var(--sm);
}

.fans,
.popularity {
	font-size: small;
}
