.label {
	position: relative;
}

.input {
	width: 100%;
	border: 1px solid transparent;
	border-radius: var(--md);
	padding: var(--sm) var(--md);
	min-height: 32px;
	outline: transparent;
}

.input:focus {
	box-shadow: var(--shadow-hover);
}

.input::placeholder {
	color: gray;
	font-size: 0.9em;
}

.input__err {
	border: 1px solid var(--red);
}

.input__state {
	padding-right: calc(var(--md) + 20px);
}
.primary {
	background-color: var(--bg-surf);
	color: currentColor;
}

@media (prefers-color-scheme: light) {
	.primary {
		background-color: var(--l-bg-surf);
	}
	.input:focus {
		box-shadow: var(--l-shadow-hover);
	}
}
