.main {
	padding: var(--lg);
}

.wrapper {
	position: relative;
	display: grid;
	gap: var(--md);
	background-color: var(--bg-surf);
	padding: var(--lg);
	border-radius: var(--md);
}

.episodeCount {
	position: absolute;
	top: var(--lg);
	right: var(--lg);
	font-weight: 700;
}

.times {
	display: grid;
	gap: var(--sm);
	justify-self: end;
	text-align: end;
	font-size: smaller;
}

.status {
	position: absolute;
	bottom: var(--lg);
	left: var(--lg);
	color: whitesmoke;
	font-weight: 700;
	text-transform: uppercase;
}
