.main {
	padding: var(--sm);
	display: flex;
}

.wrapper {
	position: relative;
	display: grid;
	gap: var(--md);
	background-color: var(--bg-surf);
	padding: var(--lg);
}

@media (prefers-color-scheme: light) {
	.wrapper {
		background-color: var(--l-bg-surf);
	}
}

.episodeCount {
	position: absolute;
	top: var(--lg);
	right: var(--lg);
	font-weight: 700;
}

.times {
	display: grid;
	gap: var(--sm);
	justify-self: end;
	text-align: end;
	font-size: smaller;
	font-family: "Righteous", sans-serif;
}

.status {
	position: absolute;
	bottom: var(--lg);
	left: var(--lg);

	font-weight: 700;
	text-transform: uppercase;
}
