.genres {
	display: flex;
	flex-wrap: wrap;
	gap: var(--sm);
}

.genre {
	background-color: var(--pri);
	color: whitesmoke;
	line-height: 16px;
	padding: var(--sm) var(--md);
	font-weight: 700;
	border-radius: var(--sm);
}

@media (prefers-color-scheme: light) {
	.genre {
		background-color: var(--l-pri);
	}
}
