.loading,
.err,
.empty {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.detail {
	display: grid;
	grid-template-areas:
		"header header"
		"aside main ";
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
}

.detail header {
	grid-area: header;
}

.detail aside {
	grid-area: aside;
}
.detail main {
	grid-area: main;
}
