.loading,
.err,
.empty {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.detail {
	display: grid;
	grid-template-areas:
		"header header"
		"main aside";
	grid-template-columns: 1fr 30%;
	grid-template-rows: auto auto;
}

.detail header {
	grid-area: header;
}

.detail aside {
	grid-area: aside;
}
.detail main {
	grid-area: main;
}

@media (max-width: 768px) {
	.detail {
		grid-template-areas:
			"header"
			"main"
			"aside";

		grid-template-columns: initial;
	}
}
